<footer class="footer" id="footer">
  <button class="footer__button">
    <a href="./index.html#home">
      <img src="./assets/images/ico-arrow.svg" />
    </a>
  </button>
  <section class="footer__content">
    <nav class="footer__sections">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#" title="">articles</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="">books</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="">events</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="">reasons</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="">tips</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__social">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#" title="">events</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="">reasons</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="">tips</a>
        </li>
      </ul>
    </nav>
    <aside class="footer__copy">
      <p class="footer__copy--year">
        &copy2017
      </p>
      <small class="footer__copy--text"> We <span class="footer__heart">❤</span> components </small>
    </aside>
  </section>
</footer>
