<footer class="footer" id="footer">
  <a class="footer__button" href="./index.html#home" title="Vuelve hacia arriba">
    <span class="text__missing">
      Vuelve arriba
    </span>
  </a>
  <section class="footer__content">
    <nav class="footer__sections">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#" title="Ir a articles">articles</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="Ir a books">books</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="Ir a events">events</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="Ir a reasons">reasons</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="Ir a tips">tips</a>
        </li>
      </ul>
    </nav>
    <nav class="footer__social">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#" title="Síguenos en Twitter">twitter</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="Síguenos en Instagram">instagram</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#" title="Síguenos en Mastodon.Social">mastodon.social</a>
        </li>
      </ul>
    </nav>
    <aside class="footer__copy">
      <p class="footer__copy--year">
        &copy2017
      </p>
      <small class="footer__copy--text"> We <span class="footer__heart">❤</span> components </small>
    </aside>
  </section>
</footer>
