<header class="header" id="home">
  <a class="header__button" href="#" title="Menú desplegable">
    <span class="text__missing">
      Menú desplegable
    </span>
  </a>

  <section class="hero__container">
    <article class="hero__content">
      <h1 class="hero__content--title">
        anonymous proxy
      </h1>
      <p class="hero__content--text">
        In hac habitasse platea dictumst
      </p>

      <a class="hero__content--button" href="./index.html#reasons" title="Ve hacia abajo">
        <span class="text__missing">
          Scroll down
        </span>
      </a>
    </article>
  </section>
</header>
