<header class="header" id="home">
  <button class="header__button">
    <a href="#">
      <img class="header__button--img" src="./assets/images/ico-menu.svg" />
    </a>
  </button>
  <section class="hero__container">
    <article class="hero__content">
      <h1 class="hero__content--title">anonymous proxy</h1>
      <p class="hero__content--text">In hac habitasse platea dictumst</p>
      <button class="hero__content--button">
        <a href="./index.html#reasons">
          <img class="hero__img" src="./assets/images/ico-scroll-down.svg" />
        </a>
      </button>
    </article>
  </section>
</header>
