<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Final test</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <partial src="_header.html"></partial>
    <main class="main">
      <partial src="_main-header.html"></partial>
      <section class="main__reasons">
        <h2 class="main__reasons--title">
          3 reasons to purchase
        </h2>
        <div class="cards__container">
          <partial src="_main-reasons.html" card-title="Ut sed metus" card-text="Lorem ipsum dolor sit amet, consecteur."></partial>
          <partial src="_main-reasons.html" card-title="Curabitur ac erat" card-text="Mauris mattis urna quis lorem molestie"></partial>
          <partial src="_main-reasons.html" card-title="Morbi dictum" card-text="Aliquam in dolor et dolor tincidunt."></partial>
        </div>
        <button class="main__reasons--button">
          <a href="#">
            More reasons
          </a>
        </button>
      </section>
    </main>
    <partial src="_footer.html"></partial>
  </body>
</html>
