/* Buttons */

.header__button {
  position: fixed;
  top: 0;
  left: 0;
  width: 4.4rem;
  height: 4.4rem;
  background-color: $colorHeader;
  background-image: url(../images/ico-menu.svg);
  @include backgroundImagesPosition;
  border: 0;

  &--link {
    padding: 1.2rem;
  }
}

.hero__content--button {
  width: 4.5rem;
  height: 4.5rem;
  border: 0;
  border-radius: 50%;
  background-color: $colorWhite;
  background-image: url(../images/ico-scroll-down.svg);
  @include backgroundImagesPosition;
  margin: 5.3rem auto;

  & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main__header--button {
  width: 7.6rem;
  height: 4.5rem;
  border-radius: 2.25rem;
  border: 2px solid $colorItems;
  background-color: $colorWhite;
  color: $colorItems;
  @include textButton;

  transition: all ease 0.4s;

  @media all and (min-width: 768px) {
    width: 9.1rem;
  }

  @media all and (min-width: 1200px) {
    width: 16rem;
  }
  &:hover {
    background-color: $colorItems;
    a {
      color: $colorWhite;
    }
  }
  & a {
    color: $colorItems;
    padding: 1rem;
  }
}
.main__reasons--button {
  width: 18.4rem;
  height: 4.5rem;
  background-color: $colorItems;
  border-radius: 2.25rem;
  @include textButton;
  color: $colorWhite;
  border: 0;
  transition: all ease 1s;

  @media all and (min-width: 768px) {
    width: 21rem;
  }

  @media all and (min-width: 1200px) {
    width: 25.5rem;
  }

  &:hover {
    transform: scale(1.2);
    color: $colorWhite;
  }

  & a {
    color: $colorWhite;
    padding: 1rem;
  }
}

.footer__button {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: $colorWhite;
  background-image: url(../images/ico-arrow.svg);
  @include backgroundImagesPosition;
  transform: translateY(-50%);

  /*Animation*/
  animation-name: footer;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.text__missing {
  @include textMissing;
}

@keyframes footer {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(-80%);
  }
}
