/* Buttons */

.header__button {
  position: fixed;
  top: 0;
  left: 0;
  width: 4.4rem;
  height: 4.4rem;
  background-color: #0271bc;
}

.hero__content--button {
  width: 4.5rem;
  height: 4.5rem;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  margin: 5.3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__header--button {
  width: 7.6rem;
  height: 4.5rem;
  border-radius: 2.25rem;
  border: 2px solid $colorItems;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.25;
  color: $colorItems;
  transition: all ease 0.4s;

  @media all and (min-width: 768px) {
    width: 9.1rem;
  }

  @media all and (min-width: 1200px) {
    width: 16rem;
  }

  &:hover {
    background-color: $colorItems;
    color: white;
  }
}

.main__reasons--button {
  width: 18.4rem;
  height: 4.5rem;
  background-color: $colorItems;
  border-radius: 2.25rem;
  font-family: $fontFamilyText;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  border: 0;
  transition: all ease 1s;

  @media all and (min-width: 768px) {
    width: 21rem;
  }

  @media all and (min-width: 1200px) {
    width: 25.5rem;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.footer__button {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
