/* Header */

.header {
  height: 100vh;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__content {
  color: white;
  width: 29rem;
  text-align: center;

  &--title {
    font-family: "Roboto Slab", serif;
    font-size: 4.2rem;
    line-height: 5.5rem;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }

  &--text {
    font-family: "Roboto", serif;
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}
