/* Main reasons */

.main__reasons {
  text-align: center;
  padding: 3rem 0 6rem 0;
  background-color: #eff9ff;

  &--title {
    font-family: $fontFamilyTitle;
    font-weight: bold;
    font-size: 2.4rem;
    margin: 0 auto 4.5rem 0;
    text-transform: capitalize;
  }

  .cards__container {
    display: grid;
    grid-template-columns: 18.4rem;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

  .reasons__card {
    margin-bottom: 4.5rem;

    &--title {
      font-family: $fontFamilyTitle;
      font-size: 1.8rem;
      line-height: 3rem;
      color: #000000;
    }

    &--text {
      font-family: $fontFamilyText;
      font-size: 1.8rem;
      line-height: 3rem;
    }

    & .reason1 {
    }
  }
}
