@mixin textButton {
  font-family: $fontFamilyText;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.25;
}

@mixin backgroundImagesPosition {
  background-position: center;
  background-repeat: no-repeat;
}

@mixin textMissing {
  position: relative;
  left: -5000rem;
}
